---
layout: default
---
<section class="callout">
  <div class="l-container">
    {% for post in site.posts limit:1 %}
      <h1 class="callout__heading">{{ post.title }}</h1>
      <h2>{{ post.time }} on {{ post.date | date: "%b %-d, %Y" }} at <a class="callout__link" href="https://www.google.com/maps/dir/''/big+nerd+ranch+map/@33.7590818,-84.3660815,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x88f506d2043fd1b1:0xb2dcdbd4bcd9369e!2m2!1d-84.3317487!2d33.7590866" target="_blank"> Big Nerd Ranch</a></h2>
      <p class="callout__excerpt">{{ post.excerpt }}</p>
      <a class="callout__button" href="http://www.meetup.com/Atlanta-Sass-Meetup/events/{{ post.rsvp_id }}" target="_blank">RSVP</a>
    {% endfor %}
  </div>
</section>

<section>
  <div class="l-container">
    <h1 class="t-color-patina">Past Meetups:</h1>
    <ul>
      {% for post in site.posts offset:1 %}
        <li class="l-padding-vert">
          <a class="post" href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post__heading">{{ post.title }}</h2>
            <h3 class="t-color-patina">{{ post.date | date: "%b %-d, %Y" }}</h3>
            <p>{{ post.excerpt }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
