// - - - - - - - - - - - - - - - - - - -
// - - callouts module
// styles for the callouts module

.callout {
  background: color('patina');
  color: color('white');
  font-family: sans('regular');
  padding-top: 35px;
  text-align: center;
}

.callout__heading {
  @include link-color(color('white'));
  font-family: sans('bold');
  font-size: font-size('xl');
  margin-bottom: 10px;
  &:after {
    border-bottom-width: 2px;
  }
}

.callout__subheading {
  margin-bottom: 10px;
}

.callout__excerpt {
  font-size: font-size('medium');
  margin: 0 auto;
  max-width: 75%;
}

.callout__link {
  @include link-color(color('midnight-blue'));
  &:after {
    border-bottom: 2px solid;
  }
}

.callout__button-wrapper {
  padding: 35px 0 25px;
  @include attention() {
    .callout__button {
      background: color('midnight-blue');
      border-bottom: none;
      color: color('white');
      transform: translateY(-10px);
      &:before {
        border-color: color('midnight-blue') transparent transparent transparent;
        transform: translateY(10px);
      }
    }
  }
}

.callout__button {
  @include link-color(color('midnight-blue'));
  position: relative;
  backface-visibility: hidden;
  border-radius: 5px;
  border-bottom: 0px solid;
  background: color('white');
  display: inline-block;
  font-size: font-size('large');
  padding: 10px 20px;
  transform: translateZ(0);
  transition: all 0.3s;
  vertical-align: middle;
  z-index: 3;

  &:before {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10px);
    border-color: color('white') transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    content: '';
    transition: all 0.3s;
    z-index: -1;
  }

  &:after {
    display: none;
  }
}
