// - - - - - - - - - - - - - - - - - - -
// - - callouts module
// styles for the callouts module

.callout {
  background: color('patina');
  color: color('white');
  font-family: sans('regular');
  text-align: center;
  padding: 25px 0;
  @include attention() {
    // lift callout button
    .callout__button {
      border-bottom: none;
      transform: translateY(-10px);
      &:before {
        transform: translateY(10px);
      }
    }
  }
}

.callout__heading {
  color: color('white');
  font-family: sans('bold');
}

.callout__excerpt {
  font-size: font-size('medium');
  margin: 0 auto;
  max-width: 75%;
}

.callout__link {
  @include link-color(color('midnight-blue'));
  &:after {
    border-bottom: 2px solid;
  }
}

.callout__button {
  @include link-color(color('white'));
  position: relative;
  backface-visibility: hidden;
  border-radius: 5px;
  border-bottom: 0px solid;
  background: color('white');
  color: color('midnight-blue');
  display: inline-block;
  font-size: font-size('large');
  margin-top: 35px;
  padding: 10px 20px;
  transform: translateZ(0);
  transition: all 0.3s;
  vertical-align: middle;
  z-index: 3;
  @include attention() {
    background: color('midnight-blue');
    color: color('white');
    &:before {
      border-color: color('midnight-blue') transparent transparent transparent;
    }
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10px);
    border-color: color('white') transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    content: '';
    transition: all 0.3s;
    z-index: -1;
  }

  &:after {
    display: none;
  }
}
