// - - - - - - - - - - - - - - - - - - -
// - - header module
// styles for the header module

.header {
  display: block;
  transition: background 0.4s ease-in-out;
  @include attention() {
    border-bottom: none;
    background: darken(color('white'), 5);
  }
}

.header__logo {
  display: block;
  margin: 0 auto;
  height: 220px;
  width: 220px;
  @include attention() {
    border-bottom: none;
  }
}

.header__heading {
  text-align: center;
}
