// - - - - - - - - - - - - - - - - - - -
// - - header module
// styles for the header module

.header {
  display: block;
  @include attention() {
    .header__heading {
      @include braces-rollover;
    }
  }
  &:after {
    display: none;
  }
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 160px;
}

.header__heading {
  @include braces;
}
