// - - - - - - - - - - - - - - - - - - -
// - - logo module
// styles for the logo module

.logo {
  display: block;
  margin: 0 auto;
  width: 220px;
  @include attention() {
    border-bottom: none;
  }
}
