// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// - - colors

$colors: (
  'hopbush': #c69,
  'bouquet': #b37399,
  'venus': #998099,
  'patina': #699,
  'nebula': #d2e1dd,
  'white': #fff,
  'dawn-pink': #f2ece4,
  'wafer': #e1d7d2,
  'iron': #dadbdf,
  'regent-grey': #808c99,
  'pale-sky': #6b717f,
  'midnight-blue': #036
);

// - - typography

$fonts: (
  // creates @font-face rulesets
  'font-face': (
    'sans': (
      'SourceSansPro-Bold',
      'SourceSansPro-ExtraLight',
      'SourceSansPro-Italic',
      'SourceSansPro-Light',
      'SourceSansPro-Regular'
    )
  ),
  // creates font stack for font-family declarations
  // used with font-family function
  'font-family': (
    'sans': (
      'bold': ('SourceSansPro-Bold', sans-serif),
      'extra-light': ('SourceSansPro-ExtraLight', sans-serif),
      'italic': ('SourceSansPro-Italic', sans-serif),
      'light': ('SourceSansPro-Light', sans-serif),
      'regular': ('SourceSansPro-Regular', sans-serif)
    )
  ),
  // creates font sizes, used with font-size @function
  // font-size(font-size-base * font-size multiplier * 1px)
  'font-size-base': 16,
  'font-size-multiplier': (
    xl: 3,
    large: 2,
    medium: 1.25 ,
    small: 0.75
  )
);

// - - breakpoints
$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 960px
);
