// - - - - - - - - - - - - - - - - - - -
// - - skin
// global skin styles - gradients, colors, box-shadows, etc.

@each $key, $value in $colors {
  .s-bg-#{$key} {
    background: $value;
  }
}

/*doc
---
title: backgrounds
name: 01/backgrounds
category: skin
---

```html_example
<div class="s-bg-hopbush" style="padding: 20px; margin: 5px 0;">Background Hopbush</div>
<div class="s-bg-bouquet" style="padding: 20px; margin: 5px 0;">Background Bouquet</div>
<div class="s-bg-venus" style="padding: 20px; margin: 5px 0;">Background Venus</div>
<div class="s-bg-patina" style="padding: 20px; margin: 5px 0;">Background Patina</div>
<div class="s-bg-nebula" style="padding: 20px; margin: 5px 0;">Background Nebula</div>
<div class="s-bg-white" style="padding: 20px; margin: 5px 0;">Background White</div>
<div class="s-bg-dawn-pink" style="padding: 20px; margin: 5px 0;">Background Dawn Pink</div>
<div class="s-bg-wafer" style="padding: 20px; margin: 5px 0;">Background Wafer</div>
<div class="s-bg-iron" style="padding: 20px; margin: 5px 0;">Background Iron</div>
<div class="s-bg-regent-grey" style="padding: 20px; margin: 5px 0;">Background Regent Grey</div>
<div class="s-bg-pale-sky" style="padding: 20px; margin: 5px 0;">Background Pale Sky</div>
<div class="s-bg-midnight-blue" style="padding: 20px; margin: 5px 0;">Background Midnight Blue</div>
```
*/
